#Scope settings
#Fri Jun 21 11:05:33 CST 2024
scope.singleShot=false
scope.source.0.color=-65536
scope.source.0.enable=true
scope.source.0.gain=1.0
scope.source.0.name=piInputOmega.inMeasure
scope.source.0.offset=0.0
scope.source.0.visible=true
scope.source.1.color=-16776961
scope.source.1.enable=true
scope.source.1.gain=1.0
scope.source.1.name=piInputOmega.inReference
scope.source.1.offset=0.0
scope.source.1.visible=true
scope.source.2.color=-16777216
scope.source.2.enable=true
scope.source.2.gain=1.0
scope.source.2.name=ReferenceRAWSet
scope.source.2.offset=0.0
scope.source.2.visible=true
scope.source.3.color=-16711936
scope.source.3.enable=true
scope.source.3.gain=1.0
scope.source.3.name=piInputIq.inMeasure
scope.source.3.offset=0.0
scope.source.3.visible=true
scope.source.4.color=-14336
scope.source.4.enable=true
scope.source.4.gain=1.0
scope.source.4.name=piInputIq.inReference
scope.source.4.offset=0.0
scope.source.4.visible=true
scope.source.5.color=-16711681
scope.source.5.enable=false
scope.source.5.gain=1.0
scope.source.5.name=
scope.source.5.offset=0.0
scope.source.5.visible=true
scope.source.6.color=-20561
scope.source.6.enable=false
scope.source.6.gain=1.0
scope.source.6.name=
scope.source.6.offset=0.0
scope.source.6.visible=true
scope.source.7.color=-65281
scope.source.7.enable=false
scope.source.7.gain=1.0
scope.source.7.name=
scope.source.7.offset=0.0
scope.source.7.visible=true
scope.stf=50
scope.trigger.channel=0
scope.trigger.delay=30
scope.trigger.edge=RISING
scope.trigger.level=5000.0
scope.trigger.mode=NORMAL
