#Watch settings
#Thu Jun 18 11:12:25 CST 2026
watch.var.0.identifier=SpeedCtrlLimit
watch.var.0.live=true
watch.var.0.offset=0.0
watch.var.0.scaledValue=12670.0
watch.var.0.scaling=1.0
watch.var.0.unit=
watch.var.0.value=12670.0
watch.var.1.identifier=Speed
watch.var.1.live=true
watch.var.1.offset=0.0
watch.var.1.scaledValue=0.0
watch.var.1.scaling=1.0
watch.var.1.unit=
watch.var.1.value=0.0
